{{ define "main" }}
<main>
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">lista de postagens</h1>
{{ end }}

{{- range .Data.Pages -}}
{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}

<section class="list-item">
	<h2>
		<a href="{{ .RelPermalink }}">{{.Title}}</a>
	</h2>
	<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">RASCUNHO</span> {{ end }}</time>
	<br>
	<div class="description">
		{{ if isset .Params "description" }}
		{{ .Description }}
		{{ else }}
		{{ .Summary }}&hellip;
		{{ end }}
	</div>
</section>
{{- end -}}
{{- end -}}
</main>
{{ end }}