{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1>{{ .Title }}</h1>
			<div class="meta">postado em {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">RASCUNHO</span> {{ end }}</div>
			<small>
			compartilhe no
			<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" target="_blank">linkedin</a>
			ou na
			<a href="http://twitter.com/share?url={{ .Permalink }}" target="_blank">rede do ellon musk</a>
			</small>
		</div>

		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
	</article>
</main>
{{ end }}
