---
import Base from '../layouts/Base.astro';
---

<Base title="404">
  <main>
    <div style="margin: 20vh 0">
      <h1 style="font-size: 100px; margin: 0;">404</h1>
      <p style="font-size: 40px;">perdidin? <a href="/">dê meia volta</a></p>
    </div>
  </main>
</Base>
