








                                            =--<span class="r">----</span>
                                       =<span class="r">=-------</span>==<span class="r">---</span>
                                    <span class="r">=-----------</span>==-==++
                                 <span class="r">-===-----------</span>-----====
                                <span class="r">---=---------------</span>-=+===<span class="r">-</span>
                              <span class="r">=---------------------</span>-<span class="r">--</span>==<span class="r">=+</span>
                             <span class="r">==--------------------------===-</span>::::::<span class="r">:</span>
                             <span class="r">-----------------------------</span>:..:::::::<span class="r">:-</span>
                            <span class="r">----------------------------</span>::::...::::::<span class="r">:</span>
                            <span class="r">==----------------------</span>:-------:.::::::<span class="r">:</span>:
                            <span class="r">--------:</span>:::------:::::::::--=-:::::::::
                           <span class="r">------:</span>:----=+++++===----:---==--=
                            <span class="r">-=</span>=++=++===++++++++====---==+====
                            <span class="r">-=</span>++*++++=++++++++++++++=+++==+*#
                             =+++=+**==+++**+++++++++++=+++##
                              =+++++*+==++++****+++++=====++*#
                              -=+**++=--=+++*++**+++++=-:--=+*
                            :::-++++=:::--=++++**++==--:::::=*
                          --:...=+++=-:::--===++++=::::----:-=
                         -=:....-++++-:::::---===-:-======+--=
                        ==-:::::-===+-:...:::---:::----:::-:-=
                        ==--::::--====-......:.:::::::::::::-=+%*#
                        #=:::::-:--====-:.........::::::::::-=+*++=++++++
                    =======--------======-:.......::.:::::::--======++++++++*
                 ======------------========--:......:::::::--==============+**#
              -======-----::------------=====----::::::::-::---=---------:---=+=+##
           -==++======----::-:::::---------====----::::------==--------------:---*##
         ===+==-----------:-----::::-------:<span class="r">--</span>--::::::------======--------====---=+*##
       ====------------------------:::::---:<span class="r">:</span>::::::-----=======================-:--=+++*
     ==+=----------------------------:-:::--:::::----=======================----::----=+**#
    =+=------------------------------------------============================----:------==+*
   +===---=------------------========--------=============================-------:::--------
  =+===-=--------------===================---======----===================------::-----:::::
  ===-------------==============--=========--==--------===================------:------::::-
  ==--------------=========================--=---------=============-======--------::::.:::-
 ++=-------:-----===========================--====-----=============-==---------------::::--
++=-----::::-----------========--=========----====--------------=--------::-:::-------------