---
const year = new Date().getFullYear();
---

<footer>
  <div class="footer-info">
    {year} · feito com <a href="https://astro.build" target="_blank" rel="noopener noreferrer">astro</a> & hospedado por <a href="https://pages.cloudflare.com/" target="_blank" rel="noopener noreferrer">cloudflare pages</a>
  </div>
</footer>
