<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main>
				<div class="hero">
					<h1>Eduardo Borges<span class="hero-dot">.</span></h1>
					<p>
						Staff Engineer <strong>@</strong> <a href="https://www.solfacil.com.br">Solfácil</a>,
						tornando a energia solar acessível a todos os brasileiros.
						Antes disso, Staff Engineer <strong>@</strong> <a href="https://www.stone.co">Stone.Co</a>,
						revolucionando o mercado de pagamentos, crédito e bancário no Brasil.
					</p>
					<p><strong>Brasileiro. Baiano. <a href="https://pt.wikipedia.org/wiki/Vaqueiro" referrerpolicy="no-referrer">Ex-vaqueiro</a></strong>.</p>

					<div class="hero-links">
						<a href="https://linkedin.com/in/euduardoborges">linkedin</a>
						<span class="separator">·</span>
						<a href="https://github.com/eduardoborges">github</a>
					</div>
				</div>

				<p class="now-playing">
					ouvindo <a href="" id="last-played">bip bop carregando...</a>
					<small>· rastreado por lastfm</small>
				</p>

				<h3>Postagens do blog</h3>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<li class="post">
					<a href="{{ .RelPermalink }}">{{.Title}}</a>
					<span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }}
					<span class="draft-label">RASCUNHO</span> {{ end }}</span>
				</li>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
