name: Deploy
on:
  workflow_dispatch:
  push:
    branches: ["main"]

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Tools (Node, pnpm)
        uses: jdx/mise-action@v3

      - name: Install Deps
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Deploy to CloudFlare
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_TOKEN }}
          command: |
            pages deploy ./dist --project-name=site --branch=main
